.App {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background: url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1005&q=80");
  background-size: cover;
}

.container {
  background: linear-gradient(
    to bottom,
    rgba(5, 61, 247, 0.301),
    rgba(0, 128, 0, 0.493)
  );
  border-radius: 50px;
  width: 500px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.displayRuns {
  background-color: aliceblue;
  width: fit-content;
  border-radius: 20px;
  margin: auto;
  display: inline-block;
  padding: 0 20px;
}

.displayBalls {
  display: inline-block;
  margin-left: 20px;
  color: aliceblue;
}

.displayHits {
  margin: 40px 0;
}

.displayExtras {
  background-color: rgba(240, 248, 255, 0.685);
  width: 200px;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.08);
}

button:nth-child(7) {
  background-color: rgb(0, 255, 0);
}

button:nth-child(8) {
  background-color: rgb(255, 196, 0);
}
button:nth-child(9) {
  background-color: red;
}
button:nth-child(10) {
  background-color: red;
}

@media screen and (max-width: 600px) {
  button {
    display: block;
    margin: auto;
  }
  .container {
    width: 200px;
  }

  body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTowBerJwUcV8AuI1V5X1MJV0uT7xtIjduM88vpz98pE-2MvVQZ0_GtfOUKlLHhVLxeSEY&usqp=CAU");
    background-size: cover;
  }
}
